<ion-header [translucent]="true">
    <ion-toolbar fill="outline" class="background">
        <ion-buttons slot="start">
            <ion-menu-button color="success"></ion-menu-button>
            <ion-title >Fincas</ion-title>
            <ion-searchbar placeholder="Nombre" slot="end" (ionChange)="buscar($event)" debounce="2000"></ion-searchbar>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content  [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" >
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button class="success" (click)="addfinca()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <div>
    <ion-card class="bazul" *ngFor="let finca of fincas">
        <div>
            <br><br>
            <ion-fab   size="small" vertical="top" horizontal="end" slot="fixed">
                <ion-fab-button color="transparent" size="small">
                  <ion-icon color="mediums" size="small" name="chevron-down-sharp"></ion-icon>
                </ion-fab-button>
                <ion-fab-list (click)="update(finca.fin_id)" side="bottom">
                  <ion-fab-button color="warning"><ion-icon name="create-sharp"></ion-icon></ion-fab-button>
                  <ion-fab-button color="danger"><ion-icon color="dark" name="trash-sharp"></ion-icon></ion-fab-button>                 
                </ion-fab-list>
              </ion-fab>
        </div>
        <ion-card-title class="centro">{{finca.fin_nom}}</ion-card-title>
        <ion-card-header>
            <ion-card-subtitle>Area: {{finca.fin_are}}
                
            </ion-card-subtitle>
            <ion-card-subtitle>gastos</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            {{finca.fin_des}}
        </ion-card-content>
        <ion-button class="background" expand="block" fill="sharp" (click)="lotes(finca.fin_id)">
            Ver Lotes
            <ion-icon color="dark" slot="start" name="apps-sharp"></ion-icon>
        </ion-button>
    </ion-card>
</div>
</ion-content>
