
ion-toolbar.background {--background: #008552 }
ion-toolbar.background {
  display: block;
  color: white; 
}
ion-content {
    --background: gainsboro;
}

ion-grid {
    height: 100%;
    justify-content: center;
    transform: translateY(40%);
}
.bazul {
    box-shadow: 4px 0px 26px #008552;
    border-radius: 5px;
}
.user-avatar {
    max-width: 125px;
    height: 125px;
    padding: .5em;
    height: 12vh;
    filter: drop-shadow(3px 4px 4px #444);
}
 
.center {
    display: block;
    margin: auto;
    width: 50%;
}