<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button color="success"></ion-menu-button>
            <ion-buttons slot="secondary">
                <ion-back-button></ion-back-button>
            </ion-buttons>
            <ion-title>Encargados</ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" >
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button class="success" (click)="addencargado(id)">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-card class="bazul" *ngFor="let encargado of encargados">
        <div class="ion-text-right">
            <ion-button color="medium" fill="outline" size="small">
                <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button color="medium" fill="outline" size="small">
                <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
        </div>
        <ion-card-title id="titul">{{encargado.tra_nom}}</ion-card-title>
        <ion-card-header>
            <ion-card-subtitle>cedula: {{encargado.tra_ced}}</ion-card-subtitle>
            <ion-card-subtitle>telefono: {{encargado.tra_tel}}</ion-card-subtitle>
            <ion-card-subtitle color="danger">pago</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
</ion-content>