<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button color="success"></ion-menu-button>
            <ion-buttons slot="secondary">
                <ion-back-button></ion-back-button>
            </ion-buttons>
            <ion-title>Cultivos</ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" >
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button class="success" (click)="addcultivo(id)">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-card class="bazul" *ngFor="let cultivo of cultivos">
        <div class="ion-text-right">
            <ion-button color="medium" fill="outline" size="small">
                <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button color="medium" fill="outline" size="small">
                <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
        </div>
        <ion-card-title id="titul">{{cultivo.cul_nom | uppercase}}</ion-card-title>
        <ion-card-header>
            <ion-card-subtitle>Tipo cultivo: {{cultivo.tip_nom | uppercase}}</ion-card-subtitle>
            <ion-card-subtitle>{{cultivo.cul_ini | date : 'M/d/yy'}} - {{cultivo.cul_fin | date : 'M/d/yy'}}</ion-card-subtitle>
            <ion-card-subtitle>{{cultivo.cul_cant}}</ion-card-subtitle>
            <ion-card-subtitle color="danger">gastos</ion-card-subtitle>
        </ion-card-header>
        <ion-button class="bverde" color="dark" expand="block" fill="outline" shape="round" (click)="operaciones(cultivo.cul_id)">
            Ver Operaciones
            <ion-icon color="warning" slot="start" name="bonfire-sharp"></ion-icon>
        </ion-button>

    </ion-card>
</ion-content>